---
import Angular from "./icons/Angular.astro"
import Laravel from "./icons/Laravel.astro"
import Tailwind from "./icons/Tailwind.astro"
import Html from "./icons/Html.astro"
import Wordpress from "./icons/Wordpress.astro"
import Php from "./icons/Php.astro"
import Boostrap from "./icons/Boostrap.astro"
import Javascript from "./icons/Javascript.astro"
import GitHub from "./icons/GitHub.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"


const TAGS = {
 
  ANGULAR: {
    name: "Angular",
    class: "bg-[#800000] text-white",
    icon: Angular,
  },
  LARAVEL: {
    name: "Laravel",
    class: "bg-[#800000] text-white",
    icon: Laravel,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },

  HTML: {
    name: "HTML",
    class: "bg-[#003159] text-white",
    icon: Html,
  },

  BOOSTRAP: {
    name: "CSS Boostrap",
    class: "bg-[#003159] text-white",
    icon: Boostrap,
  },

  JAVASCRIPT: {
    name: "Javascript",
    class: "bg-[#003159] text-white",
    icon: Javascript,
  },
  WORDPRESS: {
    name: "Wordpress",
    class: "bg-[#003159] text-white",
    icon: Wordpress,
  },
  PHP: {
    name: "PHP",
    class: "bg-[#003159] text-white",
    icon: Php,
  },
}
const PROJECTS = [
  {
    title: "SACCESS - A QR access management platform",
    description:
      "A QR access management platform. Created with Angular, Laravel, Arduino, Docker and MySQL",
    link: "https://saccess.netlify.app/",
    image: "/projects/saccess.png",
    tags: [TAGS.ANGULAR, TAGS.LARAVEL, TAGS.TAILWIND],
  },

  {
    title: "MARVEL",
    description:
      "An interactive web application dedicated to the Marvel Universe, built using Angular and seamlessly integrated with the Marvel API. This application offers users a comprehensive platform to explore Marvel's extensive database of characters, comics, series, and events.",
    link: "https://angular-marvel.netlify.app",
    image: "/projects/marvel.png",
    tags: [TAGS.ANGULAR, TAGS.TAILWIND],
    github: "https://github.com/CarlosCarrilloP/Angular-x-Marvel",
  },
  {
    title: "Centro estética Mayka",
    description:
      "An elegant and user-friendly landing page for Centro Estetica Mayka, designed to showcase our premier aesthetic services. Developed with modern web technologies, this landing page provides a comprehensive overview of our beauty and wellness treatments, offering a seamless experience for clients seeking top-quality skincare, haircare, and relaxation services. Discover our diverse range of offerings and book your appointment with ease through our intuitive and stylish online platform.",
    link: "https://esteticamaykaorihuela.com/",
    image: "/projects/mayka.png",
    tags: [ TAGS.HTML, TAGS.BOOSTRAP, TAGS.JAVASCRIPT],
  },
  {
    title: "Metamorphosis productions",
    description:
      "Metamorphosis Productions is a premier music production company dedicated to transforming artistic visions into memorable sound experiences. This project was an opportunity for me to combine my technical skills with my passion for design and music.",
    link: "https://metamorphosisproduction.es/",
    image: "/projects/metamorphosis.png",
    tags: [ TAGS.WORDPRESS, TAGS.PHP],
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github}) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="Recién llegado vs 5 años en Nueva Zelanda" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
        
        {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>



